<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - Page</title>
</head>
<strong><nav>
<ul class="menu">
        {% if current_user.is_authenticated %}
	<a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
	<a href="{{ url_for('convert') }}">Convert</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
	<a href="{{ url_for('convert') }}">Register</a>
        <a href="{{ url_for('logout') }}">Login</a>
        {% endif %}
</ul>
</nav></strong>
<body>
<h1>{{  title  }} Page</h1>
{% block body_content %}{% endblock %}
</body>
</html>
