{% extends "layout.html" %}
{% block body_content %}
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.base_currency.label }}
            {{ form.base_currency }}
            {% if form.base_currency.errors %}
            <div class="error">
                {% for error in form.base_currency.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <form action="/delete/{{ rate.id }}">
    <button type="submit">Delete Rate</button>
</form>
</div>

{% endblock %}