{% extends "layout.html" %}
{% block body_content %}
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.base_currency.label }}
            {{ form.base_currency }}
            {% if form.base_currency.errors %}
            <div class="error">
                {% for error in form.base_currency.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            {{ form.new_currency.label }}
            {{ form.new_currency }}
            {% if form.new_currency.errors %}
            <div class="error">
                {% for error in form.new_currency.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class='form_group'>
            {{ form.bid_rate.label }}
            {{ form.bid_rate }}
            {% if form.bid_rate.errors %}
                <div class='error'>
                    {% for error in form.bid_rate.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class='form_group'>
            {{ form.ask_rate.label }}
            {{ form.ask_rate }}
            {% if form.ask_rate.errors %}
                <div class='error'>
                    {% for error in form.ask_rate.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <form action="/delete/{{ rate.id }}">
    <button type="submit">Delete Rate</button>
</form>
</div>

{% endblock %}